/* =========== Common styles =========== */

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button{
    cursor: pointer;
    border: none;
}

img{
    display: block;
}

.container{
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =========== Page Header styles =========== */

.header-page{
    border-bottom: 1px solid #e7e9fc;
}

.header-page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation{
    display: flex;
    align-items: center;
}

.logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-part-logo{
    color: #2e2f42;
}

.navigation-list{
    display: flex;
    gap: 40px;
}

.nav-link{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-link:hover, 
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/* =========== Hero Section styles =========== */

.hero{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}


.main-title{
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.order-servise-btn{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
}
.order-servise-btn:hover,
.order-servise-btn:focus {
    background-color:  #404bbf;
}

/* =========== Benefits Section styles =========== */

.benefits{
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits-list-item{
    width: calc((100% - 72px) / 4);
}

.benefits-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* =========== Team Section styles =========== */

.team{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.our-team-list-item{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

.our-team-list-item-container{
    padding: 32px 0;

}

.our-team-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* =========== Portfolio Section styles =========== */

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-portfolio-list-item{
    width: calc((100% - 48px) / 3);
}

.our-portfolio-list-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-portfolio-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* =========== Footer Page styles =========== */

.footer-page{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-part-logo{
    color: #f4f4fd;
}

.footer-description{
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}